
html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif; 
    background-color: #f2f2f2; 
}
nav {
    background-color: #e7e5e542; 
    color: #fff; 
    padding: 10px 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    font-family: sans-serif;
}
nav p{
    font-size: 19px;
    font-weight: 600;
}
.logo{
    padding-right: 20px;
    mix-blend-mode:darken;
}
.logo img {
    max-width: 100px; 
    border-radius: 5px;
}

main {
    padding: 20px; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
    border-radius: 15px;
    margin-top: 30px;
}
main h1{
    font-family: sans-serif;
    font-size:40px;
}
main p{
    font-size: 20px;
    font-family: sans-serif;
}


h1 {
    color: #333;
    font-family: sans-serif;
}


p {
    color: #666;
    font-family: sans-serif;
}


.btn button {
    background-color: rgb(97, 161, 118); 
    color: white; 
    padding: 10px 20px;
    border: none; 
    cursor: pointer;
    border-radius: 18px; 
    font-weight: 600;
    font-family: sans-serif;
    margin-top: 10px;
}


a {
    color: green; 
    text-decoration: none;
    border-bottom: 2px solid;
    margin-left: 5px;
}

section {
    
    padding: 20px; 
    margin-top: 20px; 
    align-items: center;
}

.section-content {
    display: flex; 
    justify-content: space-evenly; 
    align-items: center;
    align-items: center; 
}

.img img { 
    width:200px; 
    border-radius: 3px;
    mix-blend-mode:multiply;
}

article{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
}
.adv-more{
    text-align: center;
    margin-top: 10px;
}
footer {
    padding: 20px; 
    text-align: center; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-content img{
    border-radius: 10px;
    height: 400px;
}
ul{
    margin-top: 10px;
}
li{
    list-style: none;
}
@media only screen and (max-width: 768px) {
    .section-content{
          display: inline;
          align-items: center;
          text-align: center;
    }
    article{
          display: inline;
          align-items: center;
          text-align: center;
    }
    footer{
        display: inline;
        align-items: center;
        text-align: center;
    }
    .footer-content img{
        border-radius: 10px;
    }
    ul{
        margin-top: 10px;
    }
    li{
        list-style: none;
    }
  }